extends layout

block content
  h1= title
  p Welcome to #{title}

  p#clock.timer__clock 00:00:00
  p#breakClock.timer__clock 00:00:00

  //- div.timer(data-time="00:01" data-break="0:01")
  //-   h2.timer__name test
  //-   button#start.btn.btn-start Start
  //-   button#stop.btn.btn-stop Stop
  //-   button#reset.btn.btn-reset Reset

  div.timer(data-time="25:00" data-break="5:00")
    h2.timer__name 25/5
    //- p#clock1.timer__clock 25:00
    //- p#clock2.timer__clock 05:00
    button#start.btn.btn-start Start
    button#stop.btn.btn-stop Stop
    button#reset.btn.btn-reset Reset
    //- input#clock(value="25:00")

  div.timer(data-time="55:00" data-break="5:00")

    h2.timer__name 55/5
    //- p#clock3-w.timer__clock 55:00
    //- p#clock3-b.timer__clock 05:00

    button#start--3.btn.btn-start Start
    button#stop--3.btn.btn-stop Stop
    button#reset--3.btn.btn-reset Reset

  div.timer(data-time="1:20:00" data-break="10:00")

    h2.timer__name 80/10
    //- p#clock3-w.timer__clock 55:00
    //- p#clock3-b.timer__clock 05:00

    button#start--3.btn.btn-start Start
    button#stop--3.btn.btn-stop Stop
    button#reset--3.btn.btn-reset Reset    

  #completed-timers.log
    h2.log__title Completed Timers

  script.
    var timer = new Tock({
      countdown: true,
      interval: 10,
      callback: function () {
            var current_time = timer.msToTimecode(timer.lap());
            //- console.log(current_time);
            $('#clock').html(current_time);
        }
    });

    $('.btn-start').on('click', function() {
      var workTime = $(this).parent().attr('data-time');
      var breakTime = $(this).parent().attr('data-break');

      console.log('Start: ' + workTime);
      timer.start(workTime);

      timer.complete = function () {

        var timestamp = new Date($.now());
        var date = (timestamp.getMonth()+1) + '/' + timestamp.getDate() + '/' + timestamp.getFullYear();
        var time = timestamp.getHours() + ':' + timestamp.getMinutes() + ':' + timestamp.getSeconds();
        var prettyTimestamp = date + ' - ' + time;

        displayCompletedTimer(workTime, prettyTimestamp);
        saveCompletedTimer(workTime, date, time);
        
        //- $('#completed-timers').append("<p>Timer Completed: " + workTime + " <span class='log__timestamp'>"+ timestamp + "</span></p>" );
        result = window.confirm("Time's up! Start Break?");
        if(result) {
          startBreak(breakTime);
        }
      }

      function startBreak(time) {
        var breakTimer = new Tock({
          countdown: true,
          interval: 10,
          callback: function () {
                var current_time = breakTimer.msToTime(breakTimer.lap());
                $('#breakClock').html(current_time);
            },
            complete: function () {
              alert('Break is over!');
            }
        });
        console.log('Break: ' + time);
        breakTimer.start(time);
      }
    });

    //firebase stuff

    var db = new Firebase('https://incandescent-inferno-2252.firebaseio.com');
    var completedTimers = [];

    function saveCompletedTimer(worktime, date, time) {
      var completedTimer = {
        duration: worktime,
        date: date,
        endTime: time
      }
      db.push(completedTimer);

      db.on('child_added', function(snapshot) {
        var data = snapshot.val();
          //you can do stuff with the data here
        })
    }

    function displayCompletedTimer(worktime, timestamp) {
      $('#completed-timers').append("<p>Timer Completed: " + worktime + " <span class='log__timestamp'>"+ timestamp + "</span></p>" );
    }



