doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="javascripts/tock.js")
    script(src="https://cdn.firebase.com/js/client/2.2.1/firebase.js")
  body
    block content
